/*General*/
body {
    background: #4b379a;
    padding: 6rem 0;
}

.overflow{
    overflow-x: hidden;
    scroll-behavior: none;
}

.main-container{
    width: 80%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

::selection{
    background: hsl(285, 66%, 62%);
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    .main-container {
        width: 95%;
    }

    body {
        background: #4b379a;
        padding: 3rem 0;
    }
}

/*Navbar*/
.links-for-small{
    height: 50px;
}

#nav-txt-1, #nav-txt-2, #nav-txt-3, #nav-txt, #second-svg{
    display: none;
    color: white;
}

.secondContainer{
    background-image: url(./image/myPhoto.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin: auto;
}

.NavbarName{
    width: 455px;
    margin: 5px 0 0 0;
}

/* .nav-btn{
    border: none;
    background-color: transparent;
}

.nav-btn svg {
    margin: 0 130px 0 0;
}

.search-btn {
    border: 1px solid #000000;
}
 
.search-btn:hover{
    color: #000000;
    border: 1px solid #000000;
}  */

@media screen and (max-width: 1510px) {
    .secondContainer{
        height: 650px;
    } 
}

@media screen and (max-width: 850px) {
    .NavbarName{
        width: 320px;
    }
}

@media screen and (max-width: 700px){
    .NavbarName {
        width: 300px;
    }

    .secod_nav_div{
        flex-direction: column-reverse;
    }

    .links-for-small{
        flex-direction: column-reverse;
        gap: 5px!important;
        height: 115px;
    }
}

@media screen and (max-width: 420px){

    .secod_nav_div{
        display: none!important;
    }

    .nav-main-div{
        justify-content: center!important;
    }
}

@media screen and (max-width: 350px){
    .NavbarName {
        width: 280px;
    }
}

/*Home*/
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
}

.home-title-1{
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase !important;
    text-align: center;
}

.home-title-2{
    font-family: "Poppins", sans-serif;
    font-size: 120px;
    font-weight:500;
    line-height: 1.25em;
    color: #fff;
    text-align: center
}


@media screen and (max-width: 1200px) {
    .home-title-2 {
        font-size: 96px;
    }
}

@media screen and (max-width: 700px){
    .home-container {
        height: 450px;
        width: 100%;
    }    
}

@media screen and (max-width: 600px){
    .home-title-2 {
        font-size: 86px;
    }
}

@media screen and (max-width: 480px){
    .home-container {
        height: 350px;
        width: 100%;
    }

    .home-title-2 {
        font-size: 60px;
    }
}

@media screen and (max-width: 420px){
    .home-container {
        height: 580px;
        width: 100%;
    }    
}

@media screen and (max-width: 360px) {
    .home-title-2 {
        font-size: 40px;
        padding-bottom:20px;
    } 

    .secondContainer {
        height: 570px;
    }
}

/*Projects*/
#Projects{
    background: #fff;
    height: fit-content;
    padding: 100px 100px;
}

.projects-main-card-div{
    display: flex;
    justify-content: center;
    padding: 0 0 0 20px;
}

.card {
    width: 603px;
    height: 345px;
    display: flex;
    border-radius: 20px;
    padding: 1.9rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
    float: none;
    margin: 0 20px 20px 0;
}
   
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}
   
.card-info {
    position: relative;
    z-index: 3;
    color: #f5f5f5;
    opacity: 0;
    transform: translateY(20%);
    transition: 0.5s;
}
   
.text-title {
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
   
.text-title-2 {
    letter-spacing: 1px;
    font-size: 0.9rem;
    margin: 5px 0 15px 0;
    color: white;
}
   
.card-button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(0deg, rgb(50, 36, 176) 0%, rgb(190, 94, 222) 100%);
    color: white;
    font-weight: bold;
    transition: 0.4s ease;
}
   
.card-img {
    width: 600px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}
   
.card:hover {
    transform: translateY(5%);
}
   
.card:hover:before {
    border-radius: 20px;

    opacity: .8;
    background-image: -webkit-linear-gradient(0deg, #3224b0 0%, #be5ede 100%);
}
   
.card:hover .card-info {
    opacity: 1;
    transform: translateY(0);
}
   
.card-button:hover {
    color: #f5f5f5;
}


@media screen and (max-width: 1575px) {
    .card {
        width: 500px;
        height: 286px;
    } 

    .card-img {
        width: 498px;
    }
}

@media screen and (max-width: 1300px) {
    .card {
        width: 450px;
        height: 258px;
    } 
  
    .card-img {
        width: 448px;
    }
}

@media screen and (max-width: 1050px) {
    #Projects{
        padding: 100px 0;
    }

    .projects-main-card-div{
        display: block;
        padding: 0;
    }

    .card {
        margin: auto;
        margin-bottom: 20px;
        width: 603px;
        height: 345px;
    }

    .card-img {
        width: 600px;
    }
       
}

@media screen and (max-width: 676px) {
    .card {
        width: 500px;
        height: 286px;
    } 

    .card-img {
        width: 498px;
    }
}

@media screen and (max-width: 560px) {
    .card {
        width: 390px;
        height: 224px;
    } 
  
    .card-img {
        width: 388px;
    }
}

@media screen and (max-width: 450px) {
    .card {
        width: 340px;
        height: 195px;
    } 
  
    .card-img {
        width: 338px;
    }
}

@media screen and (max-width: 390px) {
    #Projects{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .card {
        width: 290px;
        height: 166px;
    } 
  
    .card-img {
        width: 288px;
    }

    .text-title {
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }

    .text-title-2 {
        letter-spacing: 0;
        font-size: 15px;
        text-align: center;
    }

    .project-brs{
        display: none;
    }

    .card-button {
        padding: 0.4rem;
        outline: none;
        border: none;
    }
}


/*Footer*/
.Footer{
    width: 100%;
    height: 350px;
    background: #222222;
    padding:  75px 0;
}

.forHover:hover{
    color: rgb(163,92,186)!important;
}

.nameLogo{
    width: 500px;
}

@media screen and (max-width: 620px) {
    .nameLogo{
        width: 400px;
    }
    
    .footerForSmallGap{
        gap: 10px!important;
    }
    
}

@media screen and (max-width: 465px) {
    .nameLogo{
        width: 300px;
    }
    
}

@media screen and (max-width: 370px) {
    .nameLogo{
        width: 250px;
    }
    
    .footerForSmallGap{
        gap: 5px!important;
    }
    
}

@media screen and (max-width: 335px) {    
    .footerForSmallGap{
        gap: 1px!important;
    }
    
}

/* S-media */
.s-card {
    display: flex;
    height: 70px;
    width: 270px;
    background: rgb(226, 226, 226);
    /* background-image: -webkit-linear-gradient(0deg, rgb(50, 36, 176) 0%, rgb(190, 94, 222) 100%); */
    border-radius: 20px;
}
  
.s-card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}
  
.s-card .social-link1,.s-card .social-link2,.s-card .social-link3,.s-card .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}
  
.s-card svg {
    transform: scale(1);
}
  
.s-card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
}
  
.s-card .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
}
  
.s-card .social-link3:hover {
    background-color: #29d107;
    animation: bounce_613 0.4s linear;
}
  
.s-card .social-link4:hover {
    background-color: black;
    animation: bounce_613 0.4s linear;
}
  
@keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
}